* {
    margin: 0;
    padding: 0;
}

section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}




section.bg-brown {
    background-color: rgb(197, 171, 140);
}

section.bg-red {
    background-color: red;
}

section.bg-black {
    background-color:black;
}

section.bg-white {
    background-color: white;
}

section.bg-grey{
    background-color: grey;
}